checkpoints/
data/
pretrained/
outputs/
dist/
.cache/
__pycache__/
*.py[cod]
*.sif

*.log
*.zip
*.pt
*.pth
*.safetensors
*.arrow
*.parquet
.env
logs/
wandb/
.ipynb_checkpoints/
*.ckpt
*.bin
*.pkl
*.npy
*.npz
